[2016-08-11 18:13] FGRibreau opened #1 "Nice idea!"
Hello @swilly22 !

Don't hesitate to ping me when it's ready and documented, I will share it in our next [RedisWeekly](http://redisweekly.com) :)!

[2016-12-29 22:34] 0x66656c6978 opened #6 "Compiler errors on Debian 8 with GCC"
Heya,

awesome project first of all!

I tried to compile it on a debian 8 64 bit with gcc 4.9 and cmake 3.0.2.
I got errors similar to this:
`error: ‘for’ loop initial declarations are only allowed in C99 or C11 mode `.
The following line added to the CMakeLists.txt in the root directory made it compile just fine for my specific version of cmake:
`set (CMAKE_C_FLAGS "--std=gnu99 ${CMAKE_C_FLAGS}")

[2017-01-01 11:27] swilly22 commented on #6
Hi,
Thanks for bring this up,
I'm not sure at the moment if I want to include this (as is) in the CMakeLists file,
So I'll leave this issue open for the time being.

[2017-01-04 11:58] #1 closed

[2017-02-01 23:17] dkhan11 opened #11 "Building on Mac"
Hi,

I'm trying to build this on latest version of Mac OS and latest Redis(updated with brew).
cmake . && make all results:
[ 15%] Built target Llibgraph
[ 18%] Built target module
[ 34%] Built target test_agg_sum
[ 50%] Built target test_edge
[ 67%] Built target test_graph
[ 83%] Built target test_node
[100%] Built target test_triplet

And the module gets compiled.
But: redis-server --loadmodule

[2017-02-02 09:57] swilly22 commented on #11
Hi,
Minimum required Redis version which supports modules is 4,
Download https://redis.io/download (4.0-rc2).

[2017-02-02 11:38] dkhan11 commented on #11
Thanks for the quick answer.
My mistake! I built the latest version and it works:)
Thanks again,
DD.

[2017-02-02 11:38] #11 closed

[2017-02-02 13:28] dkhan11 opened #12 "Query structure"
Hi,

I'm trying to return a complete object and I'm not sure if it supported.
This works well, as documented:
GRAPH.QUERY presidents "MATCH (president)-[born]->(state:Hawaii) RETURN president.name, president.age"

While trying to return a complete 'president' object just hangs:
GRAPH.QUERY presidents "MATCH (president)-[born]->(state:Hawaii) RETURN president"

I'm also unable to catch any query er

[2017-02-02 21:14] swilly22 commented on #12
Hi, returning a 'complete' object (without specifying it's properties) is currently not supported, I'll try to add support soon,
Regarding the error you're experiencing I'll have to double check.

[2017-02-02 23:08] dkhan11 commented on #12
Got it. As a feature, I think that it is much needed.
If you have a good way to catch exceptions, please let me know. Otherwise, it is very hard to catch query errors.
Thanks for the help,
DD.

[2017-02-02 23:08] #12 closed

[2017-03-24 16:52] bazuka opened #18 "Module failed to load"
Hello Roi!
I've built your module using  comand
`make module`
and when I'm trying to load it to redis im getting an error:

[code]

OS is Debian 8 (jessie) x64 with uuid-dev installed.
Is there any extra dependencies i should resolve to make it run?

BTW, thank you for an awesome lib

[2017-03-26 14:44] swilly22 commented on #18
Hi bazuka,
My intention is to get rid of uuid, I'm going to replace this with rand really soon.
Thank you.

[2017-03-26 21:22] m1sta opened #19 "Windows binary to get casuals onboard?"
Publishing a windows binary would go a long way towards getting more people trying redis-module-graph.  Maybe not the people you *want* though. There is a large audience for what you've built here that don't have any other need to work with C and so the whole make process feels scary, even though the actual product is exciting.

[2017-03-26 21:26] itamarhaber commented on #19
A Windows binary (dll?) would first require a version of Redis on Windows that supports modules... Given that the MS Open Tech fork isn't maintained, I don't see it happening.

[2017-03-27 00:08] esokullu commented on #18
@bazuka If you're on ubuntu you can install it with: sudo apt-get install uuid-dev

[2017-03-27 00:09] esokullu commented on #19
@m1sta On Windows, you may feel more comfortable working with graphengine.io

[2017-03-27 09:44] bazuka commented on #18
@swilly22 Thank you, it would be great

@esokullu anyway, thank you for trying to help

[2017-03-27 16:09] swilly22 commented on #18
@bazuka I've just pushed a commit which removes the dependency on uuid,
Please give it a try.

[2017-03-27 20:49] esokullu commented on #18
@swilly22 it works for me. Thanks. Can rand() be a long-term solution for this or are you planning to go back to uuid at some point?

[2017-03-28 06:47] swilly22 commented on #18
@esokullu Well although rand does not guarantee uniqueness, I'm not expecting query graphs (a graph describing search pattern) to contain such a high number of nodes for a collision to occur.

If there's a simple (hopefully dependency free) solution for generating unique ints, I'll be happy to consider.
Thanks

[2017-03-28 10:55] #19 closed

[2017-03-28 13:32] bazuka commented on #18
@swilly22 Thank you, it works now. Will try to experiment with data now.

There was a blog post by @antirez about Generating unique IDs, hope it may help http://antirez.com/news/99
ps: so i'll close this issue since module loading is working for me now.

[2017-03-28 13:32] #18 closed

[2017-04-19 06:33] ryanlath opened #20 "Build fails on Ubuntu 16.04"
Having trouble building this.  Error below:

`ryan@NAS:~/tmp/redis-module-graph-master$ make
[ 15%] Built target Llibgraph
[ 18%] Built target module
[ 19%] Linking C executable test_agg_sum
CMakeFiles/test_agg_sum.dir/__/src/util/triemap/triemap.c.o: In function `TrieMap_RandomKey':
triemap.c:(.text+0x20f9): undefined reference to `log2'
triemap.c:(.text+0x20fe): undefined reference to `round'
co

[2017-04-20 16:45] swilly22 commented on #20
@ryanlath I've just added a Dockerfile which runs RedisGraph on Ubuntu, I know this is not the fix you were looking for but if you just wanted to test this module on Ubuntu and you don't mind using Docker you can pull and run from repository root folder:

docker build . -t redisgraph
docker run -p6379:6379 -d redisgraph

[2017-04-20 17:53] swilly22 commented on #20
README been update, instead of build all use build module.

[2017-04-20 18:31] ryanlath commented on #20
make module works!  Thanks!

[2017-04-20 18:31] #20 closed

[2017-05-14 09:28] jaladankisuresh opened #22 "Build Fails on Bash on Ubuntu on Windows"
Build Error while trying to build redis-graph with command: **cmake . && make module**

[code]
FYI, i was able to successfully install rejson module on redis 4.0

Just wondering, How i could consume this module from Node.js / javascript. Any support?

[2017-05-15 07:18] swilly22 commented on #22
Hi jaladankisuresh,
Thank you for bringing this to my attention I'll try to fix this asap,

Currently there's a only a Python client for this module and a Java client development is underway,
In the meanwhile you can use a node.js Redis client to send the module's "raw" command,

\* new clients contributions would be great.

[2017-05-15 07:46] jaladankisuresh commented on #22
Thank you for build this module, it seems very promising to me. I shall give it a try again, once the issue is resolved.

My Bash on Ubuntu on windows is on version 14.04.5
[code]

[2017-05-15 08:38] swilly22 commented on #22
Great, I'll look into it.

[2017-05-15 12:38] swilly22 commented on #22
@jaladankisuresh I've make some changes to the CMakeLists.txt file, please re-run `cmake .` from project root folder and `make clean module`.

Please make sure you've installed uuid-dev, `apt-get install uuid-dev`

[2017-05-16 10:01] grv1207 commented on #22
Hi,
I'm trying to build and after following above step now I'm getting;
*** FATAL CONFIG FILE ERROR ***
Reading the configuration file, at line 2

Bad directive or wrong number of arguments

[2017-05-16 10:07] itamarhaber commented on #22
@grv1207 the unmaintained Windows fork of Redis does not support the new module's API.

[2017-05-16 10:10] grv1207 commented on #22
what should I do in this case? anyways I'm trying to build it on both mac and ubuntu

[2017-05-16 10:20] itamarhaber commented on #22
@grv1207 you need to build and run Redis (and the module) on a platform that supports it. Ubuntu is the standard.

[2017-05-16 10:28] grv1207 commented on #22
I using Ubuntu and I have successfully build Redis on it, but not able to build Redis-graph on it :
After installing apt-get install uuid-dev and
then cmake .,
when I try to run
redis-server --loadmodule <my-path >/src/libmodule.so

I get following error *** FATAL CONFIG FILE ERROR *** Reading the configuration file, at line 2 >>> 'loadmodule "/<my directory>/redis-graph/src/libmodule.so"' Bad dir

[2017-05-16 10:35] itamarhaber commented on #22
@grv1207 is your Redis server v4 or above? (currently RC3)

[2017-05-16 11:05] swilly22 commented on #22
@grv1207
Are you using Redis config file to load the module, or are you using the --loadmodule flag?
Either way make sure you provide Redis with an absolute path to the module.

[2017-05-16 11:28] grv1207 commented on #22
So following configuration worked for me :
1. updated Redis server to v4 on Ubuntu
2. passed the complete path of redis-server when using --loadmodule flag.

Thanks guys for the help

[2017-05-16 13:54] swilly22 commented on #22
I've removed UUID, using snowflake to generate IDs.

[2017-05-16 13:54] #22 closed

[2017-05-17 20:56] #6 closed

[2017-05-21 22:56] samson-jerome opened #25 "compiling error"
Hi,
I just tried to build the project and get an error:
[code]

Any idea to fix this ?

If I replace the call with:
```Node *n = NewNode(entity->alias, NULL, NULL); ```

But I get another error:
[code]
Would be happy to have a quick fix for this...
cheers,
Jerome

[2017-05-22 06:42] swilly22 commented on #25
Hi Jerome,
Thank you for opening an issue, I'll have a look and update soon.

[2017-05-22 06:57] swilly22 commented on #25
Hi @samson-jerome, I've just pushed a fix,
Please let me know if the issue resolved.

[2017-05-27 10:45] #25 closed

[2017-06-08 09:54] colinsongf opened #27 "how convert natural language to cypher queries?"
how to convert 1 to 2?

1.  Utterance: "Which actors played along side Nicolas Cage?"
---->?????
2.  cypher query: """MATCH (n:actor{name:"Nicolas Cage"})-[:act]->(m:movie)<-[:act]-(a:actor)
	RETURN a.name, m.title""";

[2017-06-08 12:15] swilly22 commented on #27
Hi,
I'm not sure I fully understand your question / issue,
Can you please elaborate?

[2017-06-09 01:01] colinsongf commented on #27
how transfer natural language query into cypher query?
above is an example
my query is Which actors played along side Nicolas Cage?",
is there methods or program transfer to cypher query by computer tools

[2017-06-09 07:22] swilly22 commented on #27
I'm not sure there is at the moment, but It could be really interesting to come up with such a translator

[2017-06-09 07:22] #27 closed

[2017-06-21 01:09] fnchooft opened #29 "HMSET + ADDEDGE is not working"
Hi Roi, cool module.

**One question:** if someone has modeled its entities with HMSET as you show in the example,  it would be really helpful to be able to use existing data-structures.

I was only able to get the graph working if i added the data, which i already have in a hash-map, via the CREATENODE-function.

The following snipplet is almost verbatim from the [design.md](https://github.com/sw

[2017-06-21 11:53] swilly22 commented on #29
Hi Fabian,
Thank you for the feedback,

In the up and coming changes nodes / edges will no longer use Redis hashes to store their properties, this changes join a former change where entities id no longer map to Redis hash keys, so the only option would be to introduce a command similar to the one you've suggested (REGISTERNODE).

This could be done either within the module, or as part of a client

[2017-06-27 00:36] fnchooft commented on #29
Ok - thanks for the info. The use-case was interesting since you could just use references to existing data-structures. But it is akin to other frameworks and you could still use node- and or edge-properties such as the tinkerpop-stack for instance.
Kind regards,

Fabian

[2017-06-28 08:24] #29 closed

[2017-06-29 10:07] bengro opened #30 "Simple example does not work on provided Docker image"
**Context**
We are interested in trying out redis-graph and would like to run a simple example. We found your docker image and got the module up and running. We updated redis from rc2 to rc3.

**Problem**
We followed the simple example you provided in your tests:
[code]

This errors with:
[code]

**Expectation**
I expect this simple example to run. I would like to know why it's failing, and where

[2017-06-29 10:13] bengro commented on #30
Seems to be duplicate of https://github.com/swilly22/redis-graph/issues/29

[2017-06-29 15:02] swilly22 commented on #30
Hi @bengro,
Sorry I need to update the documentation, (hopefully this weekend)
Please see one of the demos available, on how to create nodes/edges using a python client, which basically calls GRAPH.ADDEDGE and GRAPH.CREATENODE.

So in the example above you would do:
GRAPH.CREATENODE <graph_name> <node_label> <properties>
Returns <node_id>

GRAPH.CREATENODE social person name Roi age 32
Replies wit

[2017-07-25 03:10] ReganNZ opened #31 "Mass Insertion"
Redis Graph looks really exciting and I'm keen to make use of it but I'm a bit stuck with the following:

I currently import large amounts of data into Redis using the [mass insertion feature](https://redis.io/topics/mass-insert). Because with Redis Graph we need to get the node id after a GRAPH.CREATENODE command to able to run GRAPH.ADDEDGE I can't see how the mass insertion can work.

Any ideas

[2017-07-27 17:42] swilly22 commented on #31
Hi @ReganNZ,
I agree the problem lays within the need of both source node and the destination node ids.
I think a solution for this would be to allow both nodes and edge creation at once,
e.g. GRAPH.ADDEDGE <SOURCE_NODE LABEL + PROPERTIES> <EDGE TYPE> <DEST_NODE LABEL + PROPERTIES>

This way all entities (3) are created at once. the command will replay with the three ids just created.
What do you

[2017-07-27 21:20] rmetzler commented on #31
Would there be a way to differentiate between
- create if node not exists
- error if node not exists
?

[2017-07-28 07:34] swilly22 commented on #31
As I see it, yes there will be a way to differentiate, either by introducing a new command or by including key words within the existing command e.g. GRAPH.ADDEDGE "SRC" <SOURCE_NODE LABEL + PROPERTIES> "EDGE" <EDGE TYPE + PROPERTIES>
"DEST" <DEST_NODE LABEL + PROPERTIES>

[2017-07-30 23:00] ReganNZ commented on #31
Hi @swilly22,
I'm not sure how this would work if you wanted add more than one edge using the same source node, you would still need the node id of the source node to create the second edge.

I got some code working to get the redis-cli to suck in a massive txt file full of GRAPH.CREATENODE
something like: cat tasks.txt | redis-cli > tasks-out.txt
I then parsed tasks-out.txt and matched node ids w

[2017-08-18 10:42] christyharagan opened #33 "Returning a node crashes redis-server"
If you run a query like this:

[code]

Redis-server will crash with a log like this:

=== REDIS BUG REPORT START: Cut & paste starting from here ===
29410:M 18 Aug 11:41:12.716 # Redis 4.0.1 crashed by signal: 11
29410:M 18 Aug 11:41:12.716 # Crashed running the instuction at: 0x7fffda4d1b52
29410:M 18 Aug 11:41:12.716 # Accessing address: 0x0
29410:M 18 Aug 11:41:12.716 # Failed assertion: <no as

[2017-08-18 10:44] christyharagan opened #34 "Add support for ID(node) in queries"
Currently it is not possible to get the ID of a node returned from a query. So it is currently not possible to run queries such as:

[code]

[2017-08-19 12:39] swilly22 commented on #33
Thank you,
I'll look into it.

[2017-08-19 12:43] swilly22 commented on #34
Agree, I understand the need for getting a node's ID,
Added to features list.

[2017-09-06 15:46] AemanMalik opened #35 "Make module for Ubuntu users"
Hi,

Just a quick reminder that the quickstart should specify for ubuntu users to make module rather than make all.

We were befuddled for a while until we figured that one out.

Very small improvement to the documentation, should be easy to add (which also give a better impression for newbies) :)

Thx!

[2017-09-07 12:02] swilly22 commented on #35
Thank you @AemanMalik , noted.
I intend to a update the documentation soon.

[2017-09-08 10:03] swilly22 commented on #31
Hi @ReganNZ
Sorry for my late response, at the beginning RedisGraph allowed user's to specify entities IDs,
at some point I've decided RedisGraph should act similarly to other databases in that matter, e.g. SQL databases users don't have control over inserted rows IDs for a number of reasons, one of them is ID conflict.

I'll try to come up with a better solution for mess inserts.
Thank you.

[2017-09-10 11:23] #35 closed

[2017-09-10 11:23] #30 closed

[2017-09-11 19:40] MichelDiz opened #36 "Docker Erros oO"
I was following the steps in https://redisgraph.io/#building-the-module
[code]

[2017-09-13 11:13] fnchooft commented on #36
I added the **"add_definitions(-std=gnu99)"** to the CMakeLists.txt.
After that it seemed to have solved the issue.
There might be a better way.

[code]

[2017-09-13 16:27] MichelDiz commented on #36
Same error. Maybe I'm doing something wrong.

The process I'm doing is:

[code]

[2017-09-13 22:46] fnchooft commented on #36
After step 5 you would have to patch the CMakeLists.txt, adding the statement as i showed.
Try adding this statement after step 5:
[code]
That will modify the CMakeLists.txt.

Alternatively you could clone swilly22-repo and fix it yourself there, then your step 4 would only need to point to another repository.

Happy coding! :)

[2017-09-14 03:07] MichelDiz commented on #36
yeah, It get compiled but I get a Fatal Error.
I tried adding to the Redis:Lestes image config. It looks like it can read the config I made, but it still gives me no log errors (So I guess I did not actually read the config - Volumes on the Docker sometimes is so annoying... ).

PS C:\Users\miche> docker run -v /Testingredis/conf/redis.conf:/usr/local/etc/redis/redis.conf --name Testingredis redis

[2017-09-14 16:35] fnchooft commented on #36
You might want to read up a bit on docker and redis.
Start with a virtual machine with ubuntu for instance, install redis from scratch and get to know that environment.

To start redis-server you must pass a configuration file with a loadmodule-statement.
You are trying to pass your shared library as configuration file, which wont work.
[code]
But this is outside of the scope of the redis-graph mo

[2017-09-14 18:12] MichelDiz commented on #36
So I'll close this issue. Because clearly the main problem is solved. I will continue to look for a way to resolve this. I think I have to make an image just for RedisGraph. Like this "docker run -p 6379: 6379 redislabs / redisearch: latest" - The RediSearch module has a Docker image already with the module running.
I will try to work on this RS Dockerfile, understand what they did and create my i

[2017-09-14 18:12] #36 closed

[2017-09-16 18:06] swilly22 commented on #31
@ReganNZ @rmetzler
I've just pushed a beta version which supports open cypher CREATE clause,
You can use it to create both nodes and edges all at once, for instance:
GRAPH.QUERY social "CREATE (me:Person {name:Roi})-[:knows]->(a:Person {name:Amit), (me)-[:knows]->(s:Person {name:Shany})"

This will result in 3 new nodes and two new edges,
You can also combine MATCH and CREAT,

GRAPH.QUERY social "

[2017-09-20 10:54] jimanvlad commented on #31
@swilly22 What about the MERGE function?

[2017-09-22 08:36] swilly22 commented on #31
Hi @jimanvlad
Indeed supporting the MERGE function would be extremely useful, and I intend to add it in the near future, I haven't added it as part of the current effort (supporting CREAT) as MERGE requires a significant change within the execution plan runner.

[2017-09-25 12:20] ninformations opened #38 "crash running example code"
master crashed after adding example code from http://redisgraph.io/design/
[code]
[code]

[2017-09-26 04:35] swilly22 commented on #38
Hi @ninformations
RedisGraph can't run in cluster mode at the moment.

[2017-09-26 05:22] ninformations commented on #38
Thanks.
is there any plan in future ?

eM

[2017-09-26 08:17] swilly22 commented on #38
Well, supporting a cluster where there's only one master and a number of slaves for high availability shouldn't be a problem, I'll try support that topology soon,
Dealing with a multiple master cluster is a complete different challenge, in this case we need to support a distributed graph, something which I would definitely like to address but not in the near future.

[2017-09-27 20:22] swilly22 commented on #31
Large graphs can now be created in one go using the [CREATE](https://neo4j.com/docs/developer-manual/current/cypher/clauses/create/) query.
support for [MERGE](http://neo4j.com/docs/developer-manual/current/cypher/clauses/merge/) will be added later on.

[2017-09-27 20:22] #31 closed

[2017-10-06 15:28] #33 closed

[2017-10-14 08:59] MatthiasWinkelmann opened #60 "https://redisgraph.io uses invalid github.io SSL certificate"
Title says it all. The https url https://redisgraph.io is linked to by google, for example.

Error message in Firefox:

[code]

[2017-10-14 17:52] swilly22 commented on #60
Thank you for letting me know,
I'll try to resolve ASAP.

[2017-10-15 13:13] swilly22 commented on #60
I've decided to remove support of https for now (links updated)
I couldn't find out how to enable ssh while serving static content from Github under a custom domain name.

[2017-10-15 13:13] #60 closed

[2017-10-23 16:37] jsumakanth opened #61 "Creating an edge between existing nodes"
I have succeeded in creating multiple nodes and edges in the same pass using
"CREATE (n1:node), (n2:node), (n1) - [:knows] -> (n2)"

Currently, Is there a way to create an edge between existing nodes? I have tried grouping "MATCH" and "CREATE" queries (They all returned back with syntax errors).

[2017-10-23 17:53] swilly22 commented on #61
It’s possible to connect existing nodes,
First locate the nodes you’ll like to connect and use the create clause to create a new edge.

Like so
Match (a:node), (b:node)
Where a.prop=value AND b.prop=value
Create (a)-[:knows]->(b)

[2017-10-23 19:08] jsumakanth commented on #61
The example you provided gives me a syntax error for the use of ",". I have success trying to use one existing node though.

Here is the example I am trying on redis-cli

GRAPH.QUERY social "CREATE (:person {name: roi, age: 32, gender: male, status: married})"
GRAPH.QUERY social "CREATE (:person {name: dave, age: 23, gender: male, status: married})"

GRAPH.QUERY social "MATCH (a:person), (b:person

[2017-10-24 05:27] swilly22 commented on #61
My bad, this is a bug. the current parser doesn't allow to specify multiple patterns within the MATCH clause, I'll fix that ASAP,
Thank you!

[2017-10-24 08:03] swilly22 commented on #61
@jsumakanth I've extend the parser to support multiple patterns, please let me know if you're able to create an edge between two existing entities.
Thank you.

[2017-10-24 11:10] fnchooft opened #63 "Unable to use underscore as attribute-name if not enclosed in " / Unable to query"
Trying out the examples (http://redisgraph.io/design/#constructing-a-graph) , it seems that something changed in the treatment of attribute-names, if you want to use _ or - characters you need enclose these, as shown below:

[code]
After this i tried to read those properties:
[code]
Unfortunately this provokes a crash of redis.

Kind regards,

Fabian

[2017-10-24 12:00] topilski opened #64 "FastoRedis support redis-graph commands"
Hi, i want add redis-graph commands into FastoRedis, can you explain which command should be handle?

[2017-10-24 13:49] swilly22 commented on #63
Hi @fnchooft
Currently the lexer doesn't identifies strings which contains '-' or '_',
unless they are quoted.
I'll have to rethink this one over and maybe introduce new rules to the lexer/parser.

Thank you!

[2017-10-24 14:57] swilly22 commented on #64
I think all commands (3) should be added:
1.graph.DELETE
2.graph.QUERY
3.graph.EXPLAIN

[2017-10-24 15:00] topilski commented on #64
Thank you @swilly22 , do you have some examples to test all this commands. Also want ask you which keys types should appear after execution of this commands?

[2017-10-24 15:10] jsumakanth commented on #61
That works like a charm! Thanks for the fix.

[2017-10-24 15:10] #61 closed

[2017-10-24 16:21] fnchooft commented on #63
Understood. Maybe it is good to update the examples.

If somebody writes a bad QUERY- or MATCH-request it would be good to try and catch that without crashing the redis-server. In order to restart the instance I had to remove the database-file. Hope the input helps you pinpoint the issue.

Kind regards,

Fabian

[2017-10-25 08:24] swilly22 commented on #64
The key types are custom (not Redis native data-types)
Please see demo folder for usage of both GRAPH.QUERY and GRAPH.EXPLAIN

[2017-10-26 05:03] topilski commented on #64
Hi @swilly22 , i implemented redis-graph commands initialization now worked in same way like in redis-cli, i also want ask about graph drawing, FastoRedis is gui application unlike redis-cli, may be will be useful have some ability to drawing graphs directly in application what you think? any suggestions, may be some other functionality? thank you for help!

[2017-10-26 05:04] topilski commented on #64
Also i can view custom keys type, but i need some knowledge hot to view this keys.

[2017-10-26 05:22] swilly22 commented on #64
Graph visualisation would be nice, but you'll need to figure out the graph structure from the user query and the response, which isn't trivial, as responses are tabular. also there are times where the result of a query isn't a graph e.g. aggregation query.

I think it would be nice to have auto complete/correction for query composing.

Regarding RedisGraph custom keys, they hold a trie data struct

[2017-10-26 06:06] topilski commented on #64
Hi @swilly22 , thank you for response i will investigate your suggestions.

[2017-11-10 03:10] zhenruyan opened #66 "GRAPH.QUERY IMDB "" error"
=== REDIS BUG REPORT START: Cut & paste starting from here ===
28969:M 10 Nov 11:08:39.079 # Redis 4.0.2 crashed by signal: 11
28969:M 10 Nov 11:08:39.079 # Crashed running the instuction at: 0x7fc19a1e02d4
28969:M 10 Nov 11:08:39.079 # Accessing address: (nil)
28969:M 10 Nov 11:08:39.079 # Failed assertion: <no assertion failed> (<no file>:0)

------ STACK TRACE ------
EIP:
./graoh.so(_ExecutionP

[2017-11-10 17:36] swilly22 commented on #66
Hi @zhenruyan
What was the query you were trying to run?
GRAPH.QUERY IMDB "" ? (as in empty string)

[2017-11-10 19:22] RMKD opened #67 "certain edge queries crash redis"
From redis-cli, matching against edge types works fine when returning nodes:
`GRAPH.QUERY testgraph "MATCH (p)-[r:connects]->(q) RETURN p,q"`

so does:
`GRAPH.QUERY testgraph "MATCH (p)-[r:connects]->(q) RETURN p,r,q"`
(though the edge does not appear to be in the response)

but this crashes the redis server:
`GRAPH.QUERY testgraph "MATCH (p)-[r:connects]->(q) RETURN r"`

[code]
querying a nonexis

[2017-11-10 19:31] swilly22 commented on #67
Hi @RMKD
Thank you for bringing this to my attention,
I'll look into it ASAP.

[2017-11-10 21:49] #64 closed

[2017-11-11 02:10] zhenruyan commented on #66
When the input the wrong grammar or is an empty string
Leads to a redis interrupt directly

[2017-11-11 02:21] zhenruyan commented on #66
![_deepin-terminal_20171111101505](https://user-images.githubusercontent.com/9253251/32685327-dc46b1c0-c6c9-11e7-84c9-f646a69d0310.gif)

[2017-11-11 02:28] zhenruyan commented on #66
`Redis server v=4.0.2 sha=00000000:0 malloc=jemalloc-4.0.3 bits=64 build=916d23d225484bee

Linux free 4.9.0-deepin13-amd64 #1 SMP PREEMPT Deepin 4.9.57-1 (2017-10-19) x86_64 GNU/Linux

[2017-11-19 07:58] swilly22 commented on #67
I couldn't reproduce,
Checked against latest version #68 and I'm able to retrieve: both nodes and edges or anyone of them individually.

[2017-11-19 07:58] #67 closed

[2017-11-19 09:46] swilly22 opened #69 "Allow returning an hanging edge"
GRAPH.QUERY g "MATCH [e] RETURN e"

[2017-11-19 09:50] swilly22 opened #70 "Implement OpenCypher functions"
Arithmetic expressions were recently introduced:
https://github.com/swilly22/redis-graph/blob/master/src/arithmetic_expression.h

I've implemented the following functions:
http://redisgraph.io/commands/#functions

I would like to increase my coverage of Cypher functions:
https://neo4j.com/docs/developer-manual/current/cypher/functions/

Thank you!

[2017-11-19 09:51] swilly22 commented on #34
Will be implemented as part of #70

[2017-11-20 07:42] swilly22 commented on #38
I've added support for replication, please note RedisGraph will only work on a cluster with a single master shard. you can have multiple slave shards.

Also the graph.CREATENODE command is deprecated, please use graph.query with a create query.

[2017-11-20 07:42] #38 closed

[2017-11-25 18:18] swilly22 commented on #66
Starting to validate produced AST.

[2017-11-25 18:18] #66 closed

[2017-12-18 16:09] eikeCL opened #74 "Query crashes the server"
Hi,

I am using the query `Match (n) return n` in the Neo4J Browser to get an overview over the content of the database. Doing this in redis crashes the server.

I have cloned `redis-graph` (Branch master; last commit f6f0589bdc0e498483c4a5168bb7f0cd5d5fd94d) and `redis` today and build them.

[code]

I was trying the demo (had to add quotes to the string literals). And then I tried the query I kn

[2017-12-18 21:27] swilly22 commented on #74
For the time being RedisGraph can't figure out what are the properties/attributes of a collapsed node which isn't labeled.
In the above case
`MATCH (n) return n`
`n` is a "collapsed" node which has no label.

I agree the server shouldn't crash and an informative error should be returned.

[2017-12-18 21:37] swilly22 commented on #74
@eikeCL did you had to modify the demo to get it running?
Currently the last commit on master is eb17cb371c636c804610ed2275bc9118d7992c51

The demos should run "out of the box", please let me know if you've encountered any trouble running either one of them.

[2017-12-18 22:49] espang commented on #74
The crash was my main concern. In general i am using labeled nodes. I have a small project where I use Neo4J and I am looking for an alternative database.

Regarding the demo: I haven't seen quotes around the string properties. I got a parse error when I copied the first demo-query (using redis-cli). Adding single quotes around the string properties solved that. E.g.

[code]

I can paste the parse

[2017-12-19 06:39] swilly22 commented on #74
@eikeCL you can divide the queries executed by the demo into two types:
1. Insertions, which are made by a python library "redisgraph-py" which takes a graph structure and generates "CREATE" queries, therefore the query you've mentioned above is auto-generated by redisgraph-py.
2. Read queries, which are specified under social_queries.py and imdb_queries.py, there you'll find explicit queries.

[2017-12-19 09:24] eikeCL commented on #74
I was a bit imprecise. I wasn't speaking about the demo folder with python code. I was talking about the documentation [http://redisgraph.io/#with-redis-cli](url)

I have followed the steps on `redisgraph.io` and there it says to clone `git clone https://github.com/RedisLabsModules/redis-module-graph.git` which is a fork of this repo which doesn't contain the commit you mentioned. I have the lates

[2017-12-19 09:57] swilly22 commented on #74
@eikeCL No problem,
I'm working on a solution which will allow queries such as:
`GRAPH.QUERY social "MATCH (n) return n"`
to work as in Neo.

Regarding the doc, I'll update them.
Thank you.

[2017-12-19 19:51] swilly22 commented on #74
Resolved, as part of #75
When a collapsed entity doesn't have a label, all known attributes from all labelled entities will be used.

For example:
Supposed we've got two types of entities within our graph:
1. Person with attributes name and age
2. Country with attributes name and population
When executing `MATCH (x) RETURN x`
result-set will contain all four attributes foreach entity:
result-set h

[2017-12-19 19:51] #74 closed

[2017-12-20 09:53] eikeCL commented on #74
Thanks you for the fast fix. :100:

[2017-12-23 05:32] kmukesh-flipkart opened #76 "Redis is crashing while running SET command"
`graph.QUERY IMDB 'CREATE (aldis:actor {name: "Aldis Hodge", birth_year: 1986}), (oshea:actor {name: "OShea Jackson", birth_year: 1991}), (corey:actor {name: "Corey Hawkins", birth_year: 1988}), (neil:actor {name: "Neil Brown", birth_year: 1980}), (compton:movie {title: "Straight Outta Compton", genre: "Biography", votes: 127258, rating: 7.9, year: 2015}), (neveregoback:movie {title: "Never Go Bac

[2017-12-23 09:29] ctblog opened #77 "Redis is crashing while running SET command"
`graph.QUERY IMDB 'CREATE (aldis:actor {name: "Aldis Hodge", birth_year: 1986}), (oshea:actor {name: "OShea Jackson", birth_year: 1991}), (corey:actor {name: "Corey Hawkins", birth_year: 1988}), (neil:actor {name: "Neil Brown", birth_year: 1980}), (compton:movie {title: "Straight Outta Compton", genre: "Biography", votes: 127258, rating: 7.9, year: 2015}), (neveregoback:movie {title: "Never Go Bac

[2017-12-24 16:01] swilly22 commented on #34
Done as part #78

[2017-12-24 16:01] #34 closed

[2017-12-26 11:35] #76 closed

[2017-12-26 19:08] swilly22 commented on #77
Although the update query you've presented:
`GRAPH.QUERY social 'MATCH (:person {name: "roi", age: 32, gender: "male", status: "married"}) SET name = "R1"'`

Is invalid, as the 'name' you're trying to update isn't bounded to any node and the graph you're operating on "social" doesn't exist, there's no reason why this query or any other query for that matter crash the server.

Thank you for bringin

[2017-12-26 22:41] jeffreylovitz commented on #70
I believe that I could assist with this! Anything I should be aware of or that you want prioritized? The OpenCypher aggregate functions for percentiles and standard deviations seem like sensible next steps.

[2017-12-27 09:42] swilly22 commented on #70
Hi @jeffreylovitz,
Thank you for assisting, I agree let's add the missing aggregation functions,

Before you begin, please review:
agg_ctx, agg_funcs and aggregate
Under src/arithmetic

Let me know if you have any questions,
Also, if you like, we can disscuse each function before you start implementing.

[2018-01-04 17:45] ventodiventu opened #79 "FLUSHDB and FLUSHALL crash Redis"
Running FLUSHDB or FLUSHALL from the command line interface, after having inserted at least one node, makes Redis crash:
[code]

Hopefully it's not just me doing something dumb, I'm fairly new with Redis. Thanks in advance!

Here's the log:

=== REDIS BUG REPORT START: Cut & paste starting from here ===
6802:M 04 Jan 17:14:10.154 # Redis 4.0.6 crashed by signal: 11
6802:M 04 Jan 17:14:10.154 # Cra

[2018-01-04 20:00] swilly22 commented on #79
Thank you for bringing this to my attention,
I'll look into it and update.

[2018-01-08 20:55] jeffreylovitz commented on #70
I have submitted some tentative code in a PR! It is rather rudimentary, so I look forward to hearing how to tailor it to the project's purposes better.

[2018-01-11 12:58] swilly22 commented on #70
Please see my comments regarding your PR.

[2018-01-14 08:53] swilly22 commented on #77
Resolved by #80

[2018-01-14 08:53] #77 closed

[2018-01-15 14:51] jeffreylovitz commented on #70
Hi @swilly22 ,

Sorry, I'm still having trouble determining the best way to ping you here.

The `__agg_percCtx->values` buffer It is currently being initialized to hold 1,000 doubles, and the buffer size is doubled every time its capacity is met. I think that is fine provided that the initial value is considered sensible.
The buffer is not being freed, however. I considered doing this in `__agg_pe

[2018-01-15 17:27] swilly22 commented on #70
@jeffreylovitz
You're absolutely right, I've forgotten about freeing aggregation function context.
Basically, an aggregation function is part of an arithmetic expression tree,
We should free each aggregation function context upon freeing an expression tree (arithmetic_expression.c, AR_EXP_Free), now because different aggregation functions might have different "free" logic I think similar to the fu

[2018-01-16 21:42] glenn-edgar opened #82 "Issues on Raspberry PI -- first graph command causes redis to freeze"
1. The graph module on the raspberry pi successfully.
2. The graph module loaded successfully on startup.
3. Issuing the redis-cli command
GRAPH.QUERY social "CREATE (:person {name: 'roi', age: 32, gender: 'male', status: 'married'})"
causes the redis server to freeze.
    A. No message on console
    B. No reply on redis-cli console.
    C. Any attempt to connect with another redis-cli module is

[2018-01-17 09:08] swilly22 commented on #82
Hi @glenn-edgar ,
I've never tried RedisGraph on the PI,
I'll get my hands on one and investigate (unless there's an emulator I can use).

Thank you for bringing this to my attention.

[2018-01-17 09:27] dvirsky commented on #82
This is probably mostly due to TrieMap's unaligned access. It needs a bit of rewrite to work on ARM

[2018-01-17 23:30] glenn-edgar opened #83 "Question on whether this would be possible to move a subgraph in one redis graph db to another redis graph db"
I have been using redis on the raspberry pi for around 4 years.  I use it to control the irrigation in my avocado grove.  About two years ago, I wrote a crude by effective form me, graphical data base.  I will migrate to redis-graph implementation after the enhancement.

My application graphical database defines the system, applications and as well where data is stored and fetched.  Makes writing

[2018-01-23 11:31] swilly22 commented on #83
Hi @glenn-edgar
Sorry for my late response,
As of today there isn't an efficient way of moving subgraphs from one Redis instance to another,

But you could use Cypher to get all relevant nodes and edges (your subgraph)
Save that query result aside, and insert that subgraph to another Redis server.

1. GRAPH.QUERY <GRAPH_ID> MATCH <PATTERN> WHERE <FILTER> RETURN <PROPERTIES>
2. Save that result.
3.

[2018-01-23 13:22] glenn-edgar commented on #83
Thanks

On Jan 23, 2018 03:31, "Roi Lipman" <notifications@github.com> wrote:

[2018-03-08 06:41] grvhi commented on #70
@swilly22 - apologies for jumping in on this thread, but it seems the most appropriate place to ask if you have any timeline for implementing the OpenCypher MERGE function?

[2018-03-09 22:27] dspautz opened #86 "OpenCypher MERGE command"
Hi,

it would be really nice to see the MERGE command implemented.
This command is one of the most important commands to store unknown well structured syscall and auditd event streams to learn/build graphs automaticly in realtime.

In an other usecase I discover practicability of learning event sequence automata with a graph database for security analytics like a bayes network.

best regards
David

[2018-03-11 11:10] swilly22 commented on #86
Hi David,

Agree MERGE would be extremely useful, this will enrich users ability to populate their graphs.
I'll try to get to it ASAP but please note my schedule is packed until end of April.

[2018-03-12 21:27] swilly22 commented on #70
Hi @grvhi Please see Issue #86

[2018-03-21 11:17] saumya-singh opened #88 "MODULE LOAD command have been deprecated"
In **index.md** the MODULE LOAD command mentioned have now been deprecated, **Loading the module to Redis** section could be updated.

[2018-03-22 11:56] swilly22 commented on #88
@saumya-singh Can you please refer me to Redis documentation saying the module load command is deprecated?

[2018-03-23 22:25] lamby opened #89 "Releases?"
Would you be up for making releases like redisearch.io? It would certainly make it easier to include in, say, Debian as it would be a little clearer which commits are "vaguely safe to run". :) Thanks in advance.

[2018-03-24 08:17] swilly22 commented on #89
@lamby of course,
I'll be using Github releases.
Please check https://github.com/RedisLabsModules/redis-graph
As development of this project been migrated there.

[2018-03-24 12:49] lamby commented on #89
Thanks! When do you plan the first one?

Sure. Unfortunately I can't open issues there though (?).

[2018-03-24 15:36] oubiwann opened #90 "Support multiple labels?"
I've only been using redis-graph for a short while, but so far am really loving it :-) So glad some decided to support Cypher in the Redis world -- thanks! As I run across issues (or merely _perceived_ issues!), I'll post new tickets here.

The first one I've run into is when attempting to create a node with multiple labels, per the openCypher docs:
[code]

Any plans on implementing support for th

[2018-03-24 15:56] oubiwann opened #91 "Redis crash when querying for all nodes"
Caveat with this one: I'm running Redis (and redis-graph) in docker, with `docker-compose` (debian guest, ubuntu host). You can duplicate the guest setup I have exactly with this:

[code]
In the container itself, the following configuration is used:

[code]

The crash can be induced by performing the following query on the client:

[code]

Current keys:
[code]

Server-side, here's the dump:

[code

[2018-03-24 16:19] oubiwann opened #92 "Local results for movie example don't match docs"
When trying to get more context for issue #91 (crashing Redis), I looked at the example provided on the docs page here:
* http://redisgraph.io/design/

I created the `IMDB` graph:

[code]
with the following result:
[code]
That doesn't look right; only 1 relation? I count 5 ...

Similarly, I see the following differences with what's presented on that page with the other two queries.

Query:

[code]

[2018-03-24 16:25] oubiwann commented on #90
That could be quite an adventure! (I'm a Lisper; my usage is ultimately through Clojure...).

I'll keep digging, though, and see how things pan out. I may take you up on that ;-)

Thanks!

[2018-03-24 16:40] oubiwann commented on #92
Hrm, no; it all looks correct :-/

[2018-03-24 16:42] swilly22 commented on #92
@oubiwann When forming connection you need to use the following pattern:
(s:Label)-[e:Relation]->(d:Label)
Where s, e and d are aliases given to the entities and what follows ':' is the label/relation
In the example you've posted, 'act' is an alias/variable, (you've not specified the type of relation which you're not obligated to do so)

I think once 'act' gets bounded to an actual edge (first ins

[2018-03-24 16:47] swilly22 commented on #91
Would you mind trying recreating this when persistency is disabled? (no AOF nor RDB)
you'll probably have to modify redis.conf
Thank you!

[2018-03-24 16:56] oubiwann commented on #91
Sure thing! Right now I'm building Redis 4.0.1, since I saw that's what you're using for CI/CD ... will let you know what I find for both.

[2018-03-24 16:56] swilly22 commented on #89
Strange, I'll look into it.
Honestly I'm not sure, I feel like the current master can be released,
but I would like to have a better documentation, testing and build procedure in place before releasing an official build.

[2018-03-24 17:16] saumya-singh commented on #88
I'm sorry.. the command has not been deprecated , the link provided for MODULE LOAD is not available anymore.
Link to [Redis Modules] (https://redis.io/topics/modules-intro) contains info on 'Loading modules'.

[2018-03-24 17:33] oubiwann commented on #91
Update:
1. Yes, with Redis 4.0.8 and appendonly disabled, Redis does not crash when searching for all nodes.
2. Unfortunately, I was not able to build redisgraph.so against 4.0.1, so nothing to share there.

[2018-03-24 17:37] swilly22 commented on #92
Documentation been updated.

[2018-03-24 17:43] #88 closed

[2018-03-24 17:43] oubiwann commented on #92
I was wondering about that ... wasn't sure if the relations without the colon were a dialectical variation -- thanks for clarifying! (should have tested that ...)

The new create query you provided works like a charm: the two match queries now return the expected results (incidentally, for those both `:act` and `act` work).

I did notice something odd while testing this: when restarting Redis with

[2018-03-24 17:45] oubiwann commented on #92
Checked the docs, looks good :-)

Thanks!

[2018-03-24 17:45] #92 closed

[2018-03-24 17:51] swilly22 commented on #91
Thanks,
Can you please share the compilation log for 4.0.1?
* I must say persistency for redis-graph is not yet fully supported.

[2018-03-24 18:17] oubiwann opened #93 "Redis crash due to use of variable in some realtion searches?"
The testing below used the queries on the design page, here: http://redisgraph.io/design/.

Problematic query:
[code]

Tested scenarios:

1. :heavy_check_mark: Restart Redis; create new connection via redis-cli; run the list-actors query repeatedly, with no data in the database.
1. :heavy_check_mark: Restart Redis; create new connection via redis-cli; run the problematic query repeatedly, with no

[2018-03-24 18:18] oubiwann commented on #91
Ah, good to know about the persistence.

Yeah, I'll open another ticket with the build log pasted ...

[2018-03-24 18:25] oubiwann opened #94 "Can't build redisgraph.so against Redis 4.0.1"
Things to note:
 * I'm building redis-graph in a Debian Docker container (based on the official Redis Dockerfile supplemented with `build-essential`, `git`, etc.)
* I'm not building Redis itself from scratch, only using the 4.0.1 Redis included in the official docker image
* I'm pulling from master at `git@github.com:RedisLabsModules/redis-graph.git`

Here's the build `stdout`:

[code]

[2018-03-24 19:38] lamby commented on #89
Release early, release often. :)  Just call it 0.0.1 or something :)

[2018-03-24 20:59] swilly22 commented on #94
Does the build fails due to warnings?
Second warning (resultset.c:103:88) fixed.

[2018-03-24 21:47] oubiwann commented on #94
Hrm. Curious.

Just warnings (no errors), and the .so file _is_ actually built, and the size looks to be about right.  I started up an image based on Redis 4.0.1 and using this new build of radisgraph.so, and everything works great.

Ah, just found another interesting bit of info ... not quite a git bisect, but should be useful info for ticket #93 ... I'll go update that with a comment now.

I thi

[2018-03-24 21:48] oubiwann commented on #93
Just found something else out interesting: when using Redis 4.0.1 (and redis-graph built against 4.0.1), this crash does not happen when using the "problematic" query.

Let me know if you want me to test anything ...

[2018-03-24 22:15] oubiwann commented on #89
I'm pretty into docs, and I was quite happy with what you had, given the early days of the project.

As for the tests, are you thinking something along the lines of integration tests?

The current setup for tests could be a bit better documented -- I did have to do some trial and error there, to get `make tests` running successfully (but really, that was quite minor).

I'm +1 for a complete build

[2018-03-24 22:42] oubiwann commented on #94
Oh, nice -- learned some docker tricks from looking at yours. Didn't know about build stages ...

[2018-03-24 23:11] oubiwann commented on #89
In the hopes of getting things closer to a release, I've opened a PR that includes a tiny bit of documentation on testing:
 * https://github.com/swilly22/redis-graph/pull/95

I'll give the integration tests some thought ... Travis CI does let you use Docker containers in your tests, so we might be able to script out some `redis-cli` sessions against a running RedisGraph instance ...

[2018-03-25 06:25] swilly22 commented on #94
Sure,
Thanks!

[2018-03-25 06:25] #94 closed

[2018-03-25 08:13] swilly22 commented on #89
@oubiwann  There's already a PR for CircleCI,
In case you intend to invest any time in CI I suggest targeting CircleCI.

[2018-03-25 08:26] swilly22 commented on #93
@oubiwann This might be due to the lack persistency of support,
if you can please try:
Executing `FlushDB` before performing each of the 4 steps above,
such that prior to executing queries (create, match) Redis wouldn't contain any data.

I really should invest the time to support persistency...

[2018-03-25 16:18] lamby commented on #89
+1 to all of that and I love docs myself. Still would love a super alpha prerelease, just to get the ball rolling :)

[2018-03-25 22:43] oubiwann commented on #93
Huh ... I did a `FLUSHALL`, since I was only using that instance to test redis-graph, and that call crashed the db. Called it again, after startup, no problem.

After `FLUSHALL`, I repeated the steps above again with the same results: with `act`, only one call can be made (the second one crashes the db); with `:act`, it can be called repeatedly without issue.

[2018-03-25 22:44] oubiwann commented on #93
That would be awesome :-D

[2018-03-26 06:12] swilly22 commented on #93
Ok, thank you.
To conclude, the `act` query is (in my opinion) less likely what users really want to execute,
in any case Redis shouldn't crash.
Once I'll have some free time I'll work on persistency, once that's done I'll address this issue.

[2018-03-28 10:52] bhavyaarora opened #96 "TypeError while running imdb_demo.py"
- python3 imdb_demo.py
[code]

[2018-03-28 13:30] swilly22 commented on #96
@bhavyaarora
Thank you for bringing this to my attention, this is an issue within redisgraph-py which uses redis-py,
From redis-py readme:

"By default, all responses are returned as bytes in Python 3 and str in Python 2. The user is responsible for decoding to Python 3 strings or Python 2 unicode objects.
If all string responses from a client should be decoded, the user can specify decode_respons

[2018-03-29 11:10] #96 closed

[2018-04-09 19:49] glenn-edgar opened #99 "This is a friendly message to swilly22 -- about redis 2018 presentation"
I am presenting a paper at the Redis 2018,  "Application of Redis in IOT Edge Devices".  About 30 % of my talk will deal with the use of a graphical database in IOT or SCADA systems.  The graphical database servers the role of SNMP on steroids.  Simplifies applications finding configuration data and unites the IOT edge devices and the cloud devices.
The redis graph module does not run on Arm devic

[2018-04-11 06:34] swilly22 commented on #99
Sure, the reason why Redis-Graph currently doesn't run on raspberry pi is due to one of its internal data structure (triemap) implementation, which access unaligned memory, I intend to replace that with [rax](https://github.com/antirez/rax) which is compatible with ARM.
Once the replacement is done, I believe redis-graph will run on ARM, I'll keep you posted.
Thank you.

[2018-04-12 11:30] Liangchengdeye opened #100 "Python Exception，when i excute my program ,the exception was happend!"
Learn this web site: http://redisgraph.io/design/
When I execute: query6='GRAPH.QUERY IMDB'MATCH (a:actor) - [act] - > (m:movie {title: "Straight Outta Compton"}) RETURN m.title.
This code is in Python environment, redis_graph.query (query6).Pretty_print ().
The following errors will happen: Exception: **Row has incorrect number of values, (actual) 1! =3 (expected).
How to solve it, please?**
Pret

[2018-04-14 06:45] swilly22 commented on #99
Hi @glenn-edgar I've just pushed a new branch 'rax' where I've removed the immediate suspect for why redis-graph doesn't run on ARM.
I'll be able to test this on the raspberry pi on Sunday (15.04), just wanted to let you know incase you've wanted to test this today (14.04).

[2018-04-14 16:24] glenn-edgar commented on #99
Thanks

I will give it a try later today.

On Sat, Apr 14, 2018, 9:22 AM Jeffrey Lovitz <notifications@github.com>
wrote:

[2018-04-14 17:24] glenn-edgar commented on #99
I loaded the rax module into my system.

All my operation tests passed except one.

On startup I was using flushdb to create  a new graph.
This command crashes the redis server with a memory error.

I can work around it by having redis graph module  it with a cypher command.

Overal the branch works great and I can incorporate the feature into my IOT
system.

Glenn Edgar

On Sat, Apr 14, 2018 at 9

[2018-04-14 18:44] swilly22 commented on #99
@jeffreylovitz Thank you for testing! I'll apply the fixes you've proposed and merge to master, I'm not sure what's the issue with rax persistency but I'll try to look into that.

@glenn-edgar does this means you'll be able to replace your current implementation with redisgraph before redisconf 2018?

[2018-04-14 18:56] glenn-edgar commented on #99
Yes

On Sat, Apr 14, 2018, 11:44 AM Roi Lipman <notifications@github.com> wrote:

[2018-04-15 08:29] #99 closed

[2018-04-15 08:29] #82 closed

[2018-04-15 13:28] swilly22 commented on #100
Could you please provide the python code you're using?

[2018-04-15 13:35] Liangchengdeye commented on #100
import redis
from redisgraph import Node, Edge, Graph
pool = redis.ConnectionPool(host='192.168.87.129', port=6379, db=0, password='root')
r = redis.Redis(connection_pool=pool)

query = '''
CREATE (aldis:actor {name: "Aldis Hodge", birth_year: 1986,age:20}),
(oshea:actor {name: "OShea Jackson", birth_year: 1991,age:21}),
(corey:actor {name: "Corey Hawkins", birth_year: 1988,age:23}),
(neil:actor {

[2018-04-16 07:16] Liangchengdeye commented on #100
sorry ! if i excute :query6='MATCH (a:actor)-[act]->(m:movie{title:"Straight Outta Compton"}) RETURN m.title,SUM(a.age),MAX(a.age), MIN(a.age),AVG(a.age)',It's also happend!
s=redis_graph.query(query6).pretty_print()
Exception: Row has incorrect number of values, (actual) 1!=5 (expected)

[2018-04-16 17:35] swilly22 commented on #100
You've forgotten to specify colons before 'act' within each relation you're creating,
in your case you're creating typeless relations, please use the query below to create your graph.

`'CREATE (aldis :actor {name: "Aldis Hodge", birth_year: 1986, age:20}), (oshea :actor {name: "OShea Jackson", birth_year: 1991, age:21}), (corey :actor {name: "Corey Hawkins", birth_year: 1988, age:23}), (neil :act

[2018-04-16 18:03] AlexanderMatveev opened #102 "Store edges without nodes to prevent overhead of ID's"
Can I somehow use this module to complete my task?

The task looks typical: find N shorted paths between two random nodes. **But** in my case, I have about 250 000 000 nodes and 15 000 000 000 relations. I need neither node properties, nor edge properties, nor any other features. I want just to find shorted paths.

I tried:
1) Neoj4. Creating 250M of nodes and 15B relations looks a complex task fo

[2018-04-16 19:12] swilly22 commented on #102
Hi @AlexanderMatveev,
I don't believe you'll be able to achieve this task with the current version of RedisGraph,
as it doesn't supports variable length patterns e.g. (src)-[*]->(dest).

The upcoming version of RedisGraph should be able to handle this,
If you like, you can share with me the dataset or just a sample of it, and I'll perform a test on the new version being developed and get back to y

[2018-04-16 20:48] AlexanderMatveev commented on #102
Hi @swilly22. My dataset is just a CSV file with node ID's separated, for example:

[code]

Now, I'm creating a sets of relations for each node. For given sample it will be:

[code]
And using SMEMBERS command to retrieve node's relations:

[code]

[2018-04-16 21:45] swilly22 commented on #102
Understood, my point is, if you like, I can test the upcoming (not yet published) version of RedisGraph with your data (assuming you can share it with me) to see if it can find N shortest paths between 2 random nodes within a large graph.

[2018-04-17 07:12] #100 closed

[2018-04-17 20:27] AlexanderMatveev commented on #102
I can't share data because of NDA, but I can try to test upcoming version. Also, it is possible to generate random data based on numbers I gave in previous comment.

For now, I finished importing 250M nodes & 15B relations, and here are some more numbers about this redis instance:
1) starting for 5 minutes
2) 100G of RAM used
3) 94G of HDD storage used

[2018-04-29 09:44] ghosthamlet opened #103 "Shortest path and minimum spanning tree?"
Hi, do you planning to support Shortest path and minimum spanning tree?
An redis fork already have implemention for that, maybe you can port its code: https://github.com/OmarQunsul/graph-redis/blob/unstable/src/t_graph.c#L26, https://github.com/OmarQunsul/graph-redis/blob/unstable/src/t_graph.c#L221

[2018-04-30 03:27] swilly22 commented on #103
Hi @ghosthamlet,
Indeed I am, these will be introduce in the form of a command extension, e.g. `GRAPH.MST <GRAPH_ID>`
as these are not supported by the query language itself.
Although I can't commit on a date at the moment.

[2018-04-30 05:53] ghosthamlet commented on #103
Thanks @swilly22 , it will be very useful, looking forward to that.

[2018-05-03 13:01] Thomas-Gelf commented on #79
Same/similar with Redis 4.0.9, redis-graph ef67d95:

[code]

[2018-05-03 14:16] dvirsky commented on #79
@swilly22  notice that the same happens with both radix tree libraries, it's probably a double free, you're freeing the object from another reference besides the radix tree.

[2018-05-26 07:37] swilly22 commented on #89
Hi @seddonm1 thank you for showing interest in the project.

RedisGraph, will remain an open source project, I believe that the intention is for the distributed version to be part of Redis Enterprise, single instance will remain open source

[2018-05-26 07:39] lamby commented on #89
Thanks for your input here -- however, can we restrict this issue to the request for versioned releases? I would really like that :)

[2018-06-08 18:44] lamby commented on #89
Ping on making a release? Even just as a simple tag? :)

[2018-06-09 21:32] swilly22 commented on #89
@lamby the plan is to release on July 31.

[2018-06-09 21:43] lamby commented on #89
@swilly22 Why so long away? )

[2018-06-09 21:58] swilly22 commented on #89
There's a major change underway, in which I'm replacing the hexastore (main graph storage) with sparse matrices.
I want to have all the features which I'm supporting now to be working with the matrix version before I announce a release.